button {
  background-color: #8c2a32;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: #f2f2f2;
  height: 40px;
  width: 100%;
  border-radius: 7px;
  transition: all 0.5s ease;
  border: none;
}

button.button:hover {
  background-color: #720000;
  cursor: pointer;
}

.success {
  background-color: #28a745;
  border: none;
}

.success:hover {
  background-color: #28a745 !important;
}

.warning {
  background-color: #ffc107;
  color: #0d0d0d;
  border: none;
}

.warning:hover {
  background-color: #ffc107 !important;
}
