button {
  background-color: #8c2a32;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: #f2f2f2;
  height: 40px;
  width: 100%;
  border-radius: 7px;
  transition: all 0.5s ease;
}

button.button:hover {
  background-color: #720000;
  cursor: pointer;
}
