div.header {
  background-color: #dedede;
  height: 135px;
  width: 100%;
  z-index: 10000;
}

div.container {
  background-color: #dedede;
  height: 260px;
  width: 100%;
  position: absolute;
  top: -135px;
  z-index: -1;
}

div.headerContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 15px;
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
  z-index: 10000;
}

div.categoryContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 15px;
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
  background-color: #dedede;
  font-family: "Roboto", sans-serif;
  color: #0d0d0d;
  z-index: 50000;
}

div.logo {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 100%;
  width: 100%;
}

div.produtos {
  grid-column-start: 5;
  grid-column-end: 7;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

div.produtos p {
  padding-top: 56px;
}

div.contato {
  grid-column-start: 7;
  grid-column-end: 9;
  font-family: "Roboto", sans-serif;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

div.carrinho {
  grid-column-start: 9;
  grid-column-end: 11;
  font-family: "Roboto", sans-serif;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

div.logout {
  grid-column-start: 11;
  grid-column-end: 13;
  font-family: "Roboto", sans-serif;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

img.logo {
  display: block;
  margin-right: auto;
  margin-top: 7.5px;
}

.clickable :hover {
  cursor: pointer;
}

@keyframes slideDown {
  from {
    width: 0%;
    visibility: hidden;
  }
  to {
    width: 100%;
    visibility: visible;
  }
}

.animation {
  background-color: #dedede;
  height: auto;
  position: absolute;
  top: 135px;
  left: 0;
  font-family: "Roboto", sans-serif;
  animation-name: slideDown;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  z-index: 500000;
}

div.disabled {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0d0d0d;
  opacity: 0.5;
  z-index: 99999999999;
}

div.cart {
  position: fixed;
  width: 400px;
  max-width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  z-index: 99999999999;
  background-color: #f2f2f2;
  overflow: auto;
  transform: translateX(100%);
  transition: all 0.7s ease;
}

div.cart.active {
  visibility: visible;
  transform: translateX(0);
}

a {
  text-decoration: none;
  color: #0d0d0d;
}
.nav {
  background-color: #8c2a32;
  color: #f2f2f2;
  overflow: auto;
  white-space: nowrap;
  height: 80px;
}

.nav::-webkit-scrollbar {
  height: 9px;
}

/* Track */
.nav::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #dedede;
  background-color: #dedede;
}

/* Handle */
.nav::-webkit-scrollbar-thumb {
  background: #c2c2c2;
}

/* Handle on hover */
.nav::-webkit-scrollbar-thumb:hover {
  background: #720000;
}

.navItem {
  margin-right: 10px;
  margin-left: 10px;
}

.navItem:hover {
  cursor: pointer;
  color: #0d0d0d;
}

body.no-scroll {
  background-color: #f2f2f2;
  overflow: hidden;
}
