div.counterContainer {
  height: 50px;
  width: 200px;
  position: relative;
  font-family: "Roboto", sans-serif;
  border-width: 2px;
  border-style: solid;
  border-color: #8c2a32;
  text-align: center;
}

div.counterContainer .plusButton {
  position: absolute;
  height: 100%;
  left: 0;
  width: 30%;
  font-size: 36px;
}

div.counterContainer .minusButton {
  position: absolute;
  height: 100%;
  right: 0;
  width: 30%;
  font-size: 36px;
}

div.counterContainer .value {
  position: absolute;
  height: 100%;
  width: 40%;
  left: 30%;
  background-color: #dedede;
  font-size: 24px;
  border-left: 2px solid #8c2a32;
  border-right: 2px solid #8c2a32;
}

.minusButton:hover {
  cursor: pointer;
  background-color: #8c2a32;
  color: #f2f2f2;
}

.plusButton:hover {
  cursor: pointer;
  background-color: #8c2a32;
  color: #f2f2f2;
}

.center {
  margin-top: 10px;
}
