.full-screen {
  flex: 1;
  min-height: 100vh;
  position: relative;
  background-color: #f2f2f2;
}

.login-block {
  position: absolute;
  top: 10%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 80%;
  background-color: #dedede;
  -webkit-box-shadow: 6px 6px 16px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 16px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 16px -2px rgba(0, 0, 0, 0.75);
}

.login-img {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  background-color: #8c2a32;
}

.login-img-banner {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  background-color: #8c2a32;
  opacity: 0.8;
}

.input-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 40%;
  height: 90%;
  left: 50%;
  top: 5%;
  font-family: "Roboto", "Sans-Serif";
  color: #0d0d0d;
  font-size: 17px;
  border: 2px solid #8c2a32;
  border-radius: 15px;
}

.input-login {
  width: 75%;
  margin-left: 12.5%;
  font-size: 17px;
  background-color: #f2f2f2;
  border-radius: 7px;
  height: 35px;
}
.block label {
  display: block;
  margin-left: 12.5%;
}
.block {
  margin-top: 1%;
}

.block input {
  outline: none;
  border: 1px solid black;
}

.login-button-container {
  width: 75%;
  margin-left: 12.5%;
  font-size: 20px;
  margin-top: 20%;
}

.login-page-logo {
  display: block;
  width: 120px;
  height: 120px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: #dedede;
}

select {
  height: 40px;
  border-radius: 7px;
}
