@import "~react-image-gallery/styles/css/image-gallery.css";

.productContainer {
  display: grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 15px;
  margin-left: 10%;
  margin-right: 10%;
  height: auto;
}

.productContainer .imgContainer {
  margin-top: 50px;
  grid-column-start: 2;
  grid-column-end: 7;
  height: 550px;
  position: relative;
}

.productContainer .info {
  margin-top: 50px;
  grid-column-start: 8;
  grid-column-end: 12;
  height: 900px;
  background-color: #dedede;
  border-radius: 5px;
}

.relatedProducts {
  margin-top: 160px;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-column-gap: 15px;
  margin-left: 10%;
  margin-right: 10%;
  height: auto;
}

.thumbContainer {
  width: 90px;
  height: 90px;
}

.thumbContainer:not(:hover) {
  border-width: 3px;
  border-color: #f2f2f2;
}
.thumbContainer:hover {
  cursor: pointer;
  border-width: 3px;
  border-color: #8c2a32;
}

.thumbHide {
  visibility: hidden;
  cursor: default;
}

.price {
  margin-top: 10px;
  margin-left: 10px;
  font-family: "Roboto", "Sans-Serif";
  font-size: 48px;
}

.quantity {
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 10px;
}

.description {
  margin-top: 48px;
  font-family: "Roboto", "Sans-serif";
}

.description .name {
  font-size: 24px;
}

.description .detail {
  margin-top: 10px;
  font-size: 20px;
  line-height: 23px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
  height: calc(15 * 23px);
  word-wrap: break-word;
}
