form.search {
  position: relative;
  margin-top: 15px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

form.search .inputContainer {
  width: 60%;
  position: absolute;
  left: 0;
  margin-right: 20px;
}

form.search .inputContainer input {
  height: 60px;
  width: 100%;
  border-radius: 7px;
  padding: 8px;
  border: none;
  text-align: center;
  outline: none;
  font-family: "Roboto", "Sans-serif";
  font-size: 20px;
  color: #0d0d0d;
}

form.search .searchContainer {
  width: 30%;
  position: absolute;
  right: 0;
}

form.search .searchContainer .button {
  height: 60px;
  font-family: "Roboto", "Sans-serif";
  font-size: 20px;
}

@media (min-width: 768px) {
  .inputContainer input {
    font-size: 14px;
  }
}
